---
layout: default
---

<div class="intro-section-wrapper">
  <section class="intro-section">
    <h1 class="intro-section-title">Intro</h1>
    <img
      src="{{ "/809c0cf/images/logo.png" | prepend: site.rawgiturl }}"
      alt="Work in Progres Logo"
      class="intro-logo" />
    <p class="intro-text">{{ site.description }}</p>
    <div class="intro-video-wrapper">
      <div class="intro-frame-container">
        <iframe
          src="https://www.youtube.com/embed/rKFeTNXcNco?rel=0&amp;controls=0&amp;showinfo=0"
          frameborder="0">
        </iframe>
      </div>
    </div>
  </section>
</div>

<div class="episodes-section-wrapper">
  <section class="episodes-section">
    <h1 class="episodes-section-title">All Episodes</h1>
    {% assign episodes_per_week = site.categories.episodes | group_by: 'week_no' %}
    {% for week in episodes_per_week %}
      <h2 class="week-title">Week #{{ week.name }}</h2>
      <div class="episodes-container">
        {% assign episodies = week.items | reverse %}
        {% for episode in episodies %}
          <article class="episode">
            <h1 class="episode-title">Episode: {{ episode.title }}</h1>
            <a href="{{ episode.url | prepend: site.baseurl }}">
              <img src="http://img.youtube.com/vi/{{ episode.youtube_id }}/0.jpg"
                   alt="{{ episode.title }}"
                   class="episode-thumbnail" />
            </a>
          </article>
        {% endfor %}
      </div>
    {% endfor %}
  </section>
</div>
