<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="google-site-verification" content="K3ssQZi95dWMgpJfP-YNdlrkgmt6Wg8lbA36qassKzU" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link type="application/atom+xml" rel="alternate" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.name }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
