// Layout

body {
  .site-title { display: none; }
}

.episodes-section-wrapper {
  @include section-wrapper;
}

// Episodes section

.episodes-section-wrapper {
  background-color: $base-background-color;
  .episodes-section {
    max-width: $max-width;
  }
}

.episodes-container {
  @include display(flex);
  @include flex-flow(wrap);

  .episode {
    @include flex(0 0 calc(#{percentage(1/1)} - #{$small-spacing*2}));
    margin: $small-spacing;

    @include media($medium-screen) {
      @include flex(0 0 calc(#{percentage(1/3)} - #{$small-spacing*2}));
    }

    @include media($large-screen) {
      @include flex(0 0 calc(#{percentage(1/5)} - #{$small-spacing*2}));
    }

    .episode-title { display: none; }
    .episode-thumbnail { min-width: 100%; height: auto; }
  }
}
