.intro-section-wrapper {
  @include content-stage;

  .intro-section {
    max-width: $max-width;
  }

  background-color: #F5F4F0;
}

.intro-section {
  @include display(flex);
  @include flex-flow(column);
  @include align-items(center);

  .intro-section-title { @include hidden; }

  .intro-logo {
    @include margin($base-spacing*2 null);
  }

  .intro-text {
    @include padding(null 0);

    @include media($medium-screen) {
      @include padding(null $base-spacing*2);
    }

    @include media($large-screen) {
      @include padding(null $base-spacing*4);
    }

    color: $dark-gray;
    text-align: center;
  }

  .intro-video-wrapper {
    @include size(100% auto);
    @include margin($base-spacing null);

    @include media($medium-screen) {
      @include size(80% auto);
    }

    @include media($large-screen) {
      @include size(60% auto);
    }
  }
}

.intro-frame-container {
  @include iframe-container(percentage(9/16));
}
